/* styling vro */
.top-bar {
  background-color: #6A057F;
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 141px;
  width: 249px;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0:
  display: flex:
}

.main-nav li {
}

.main-nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 15px:
border-radius: 5px 5px 0 0;
  transition: color 0.3s ease;
display: block;
}

.main-nav a:hover {
  background-color: #8C0B9F;
  color: #FFFFFF;
}
