/* styling vro */
.top-bar {
  background-color: #6A057F;
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 141px;
  width: 249px;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0:
display: flex:
}
