/* styling vro */
.top-bar {
  background-color: #6A057F;
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 141px;
  width: 249px;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0:
display: flex:
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0:
display: flex:
}

.main-nav li {
  margin-left: 20px:
}

.main-nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.main-nav a:hover {
  color: #D3BBDD;
